
.contenedor{
    background-color: whitesmoke;
  }
  .card__title{
    text-align: center;
  }
  .card{
    width: 361px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: 1px solid black;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 17px;
  }
  .card__field input{
    width: 100%;
    padding: 10px;
  }
  .container_btn{
      display: flex;
      gap: 15px;
  }
  .btn_s{
    padding: 10px;
    background: green;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .btn_c{
    padding: 10px;
    background: red;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }